
[Unit]
Description=adsb-aamt-mlat
Wants=network.target
After=network.target

[Service]
User=adsb-aamt
RuntimeDirectory=adsb-aamt-mlat
ExecStart=/usr/local/share/adsb-aamt/adsb-aamt-mlat.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=adsb-aamt-mlat
Nice=-1

[Install]
WantedBy=default.target
