
[Unit]
Description=adsbaamt-feed
Wants=network.target
After=network.target

[Service]
User=adsbaamt
RuntimeDirectory=adsbaamt-feed
ExecStart=/usr/local/share/adsbaamt/adsbaamt-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=adsbaamt-feed
Nice=-1

[Install]
WantedBy=default.target
